.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section {
  align-content: center;
  align-items: center;
  background-color: lightblue;
  width: 200px;
}
.middle-section {
  align-content: center;
  align-items: center;
  background-color: lightpink;
  width: 200px;
}
.right-section {
  align-content: center;
  align-items: center;
  background-color: lightblue;
  width: 200px;
}